{{ 'sticky-panel.css' | asset_url | stylesheet_tag }}

<div class="sticky-panel page-width">
  <div class="sticky-panel__wrapper ">
    <form method="post" action="/cart/add" style="cursor: pointer !important;">
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <input type="hidden" name="quantity" value="1">

      <button type="submit" class="sticky-panel__button button-dark">
        <span>
          BUY VOLUFILINE‎ ‎

          <span class="product-price-current">
            {{ product.selected_or_first_available_variant.price | money }}
          </span>

          {% if product.selected_or_first_available_variant.compare_at_price
              > product.selected_or_first_available_variant.price
          %}
            <span class="product-price-compare">
              {{ product.selected_or_first_available_variant.compare_at_price | money }}
            </span>
          {% endif %}
        </span>
      </button>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const stickyPanel = document.querySelector('.sticky-panel');
    let lastScrollTop = 0;

    window.addEventListener('scroll', function () {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

      if (currentScroll > 400 && currentScroll > lastScrollTop) {

        stickyPanel.classList.add('show');
      } else if (currentScroll < lastScrollTop) {

        stickyPanel.classList.remove('show');
      }

      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
  });
</script>
